# Ignore Python bytecode
*.py[cod]
*.so

# Dist folder
dist/

# Ignore Python virtual environment
.venv/

# Ignore Python eggs
*.egg-info/

# Ignore macOS metadata
.DS_Store

# Ignore Xcode project files
*.xcodeproj/*
